body {
    background: #323232;
}

.grid {
    display: grid;
    grid-template-rows: 100px 22em 26em 3em;
    grid-template-columns: 140px 1fr 140px;
    gap: 3px
}

header {
    background: green;
    border-radius: 4px;
    grid-column: 1 / -1;
    color: white;
}

nav {
    background: brown;
    border-radius: 4px;
    grid-row: 2 / -2;
}

li {
    padding: 5px 10px 10px 10px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    opacity: 0.5;
}

.boxsection {
    width: 100px;
}

.mainSettings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100em;
    height: 47.99em;
    padding-top: 5px;
    padding-bottom: 3px;
}

.mainSettings header {
    background-color: blue;
}

section {
    width: 49%;
    height: 49%;
    margin: 0px;
}

section header {
    width: 49em;
    height: 2.188em;
    background: white;
    border-radius: 4px;
}

section article {
    width: 49em;
    height: 18.75em;
    background: rgb(16, 114, 160);
    border-radius: 4px;
    color: white;
    margin-top: 3px;
}

section footer {
    width: 49em;
    height: 2.188em;
    background: rgb(218, 79, 24);
    color: white;
    margin-top: 3px;
}

article {
    background-color: aquamarine;
}

aside {
    display: flex;
    flex-direction: column;
    background: blue;
    border-radius: 4px;
    grid-column: 3;
    grid-row: 2 / -2;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.format {
    max-width: 300px;
    max-height: 150px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 10px;

}

footer {
    background: yellow;
    border-radius: 4px;
    grid-column: 1 / -1;
    height: 5vh;
    color: rgb(56, 56, 56);
}

.atv {
    margin: 3px;
}