
body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
        Times, serif;
    color: purple;
    background-color: #d8da3d
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}

h1 {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif
}

ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 5em solid black
}

ul.navbar a {
    text-decoration: none
}

a:link {
    color: blue
}

a:visited {
    color: purple
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted
}

.divPrincipal{
    float: left;
}

.divElementos1{
    float: left;
    margin-left: 50px;
}

.divElementos2{
    float: left;
}

.divBox{
    text-align: start; 
    align-items: start; 
    background-color: white; 
    margin-top: 6px;
    padding-left: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.boxBlack{
    border-right: 1em solid black;
    padding-left: 100px;
}