body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 {
    display: flex;
}

.box-1 {
    background: url(/intprogwb/014/img/camera.png);
    width: 300px;
    height: 300px;
    margin: 50px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px #888888;
    float: left
}

.box-1 h1 {
    background: rgba(255, 255, 255, 0.5);
    ;
    text-shadow: 3px 3px 3px orange;
}

.box-1 p {
    color: white;
    padding: 8px;
    text-align: justify;
}

.container2 {
    display: flex;
    float: left;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 150px;
    margin: 20px;
    background-color: #EBA39D;
    border-radius: 5px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.3);
}

.box2-1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 120px;
    border: 2px dashed white;
    border-radius: 10px;
}

.box2-1 p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container3 {
    display: flex;
    float: left;
}

.box-3 {
    background: linear-gradient(to top left, yellow, red);
    width: 300px;
    height: 300px;
    margin: 50px;
    box-sizing: border-box;
}

.box-3 h1 {
    background: rgba(255, 255, 255, 0.5);
}

.box-3 p {
    padding: 5px;
    text-align: justify;
}

.box-3-L {
    background: linear-gradient(to top right, #18E1E5, #DD08F2, #10EF06, #D3280B);
    width: 300px;
    height: 300px;
    margin: 50px;
    box-sizing: border-box;
}

.box-3-R {
    width: 950px;
    height: 130px;
    margin: 50px;
    box-sizing: border-box;
    background: radial-gradient(red, yellow, green);
}