body {
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

.pessoa {
    color: red;
}
.pessoa[data-idade='30']{
    color: blue;
}

.pessoa::before{
    content: "Nome: "attr(data-nome) " - " "Idade: " attr(data-idade) " - " "C.P.F: " attr(data-cpf) 
}
