body {
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

.pessoa {
    color: red;
}
.pessoa[data-idade='30']{
    color: blue;
}

/* .pessoa::before{
    onclick()
}
.pessoa::after{
    content: 'depois';
} */
