.conteudo{
    /* background: #dcdcdc; */
    border: 2px solid blue;
    margin-top: 10px;
}
.linha{
    /* background: #FFEBCD; */
    border: 2px solid black;
    
}
.coluna{
    /* background: #87CEEB; */
    /* border: 1px solid green; */
    
}
.format-gato1{
    width: 420px;
    height: 500px;
}
.format-gato2{
    width: 588px;
    height: 150px;
}
.format-gato3{
    width: 280px;
    height: 160px;
    margin-top: 10px;
}
.format-gato4{
    width: 160px;
    height: 170px;
    margin-top: 10px;

}